@model NETDatingApp.Models.FriendRequestViewModel
@using Microsoft.AspNet.Identity
@if (System.Web.HttpContext.Current.User != null && System.Web.HttpContext.Current.User.Identity.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="contactsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bell"></i>
                    <span class="d-lg-none">
                        Vänförfrågningar
                        <span class="badge badge-pill badge-warning">@Model.FriendRequests.Count() new</span>
                    </span>
                    <span class="indicator text-warning d-none d-lg-block">
                        <i class="fa fa-fw fa-circle"></i>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" style="min-width: 300px;" aria-labelledby="contactsDropdown">
                    <h6 class="dropdown-header">Vänförfrågningar:</h6>
                    <div class="dropdown-divider"></div>
                    @foreach (var fr in Model.FriendRequests) {
                        <a class="dropdown-item" href="#">
                            <img src="@fr.FriendRequester.ProfileImg" class="rounded-circle" style="width: 50px; height: 50px;">
                            <div class="text-left user-item" style="display: inline-block; margin-left: 10px; width: 100px;">
                                @fr.FriendRequester.FirstName @fr.FriendRequester.LastName
                            </div>
                            <span class="text-right">
                                @Html.ActionLink("Accept", "AcceptFriendRequest", "Profile", new { fr.RequesterID }, new { @class = "btn btn-primary btn-sm" });
                                @Html.ActionLink("Decline", "DeclineFriendRequest", "Profile", new { fr.RequesterID }, new { @class = "btn btn-primary btn-sm" });
                            </span>
                        </a>
                        <div class="dropdown-divider"></div>
                    }
                </div>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
