@model NETDatingApp.Models.ChangeProfileInfoViewModel
@{
    ViewBag.Title = "Change profile info";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangeProfileInfo", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    <h4>Change Details Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @Value = Model.Profile.FirstName, @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @Value = Model.Profile.LastName, @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Age, new { @Value = Model.Profile.Age, @min = "0", @max = "130", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bio, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Bio, new { @Value = Model.Profile.Bio, @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Kön", new { @class = "col-md-2 control-label" })
        <br />
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.Gender, "Man", Model.Gender == "Man" ? new { @checked = "checked" } : null) &nbsp;@Html.Label("Man")<br />
            @Html.RadioButtonFor(m => m.Gender, "Kvinna", Model.Gender == "Kvinna" ? new { @checked = "checked" } : null)&nbsp;@Html.Label("Kvinna")<br />
            @Html.RadioButtonFor(m => m.Gender, "Annat", Model.Gender == "Annat" ? new { @checked = "checked" } : null)&nbsp;@Html.Label("Annat")<br />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change details" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}