@using NETDatingApp.Models
@model NETDatingApp.Models.ChangePersonalInformationViewModel
@{
    ViewBag.Title = "Change personal information";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePersonalInformation", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken(
    @PersonProfile profile =  
    <h4>Change Details Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Age, new { @min = "0", @max = "130", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Kön", new { @class = "col-md-2 control-label" })
        <br />
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.Gender, "Male")&nbsp;@Html.Label("Man")<br />
            @Html.RadioButtonFor(m => m.Gender, "Female")&nbsp;@Html.Label("Kvinna")<br />
            @Html.RadioButtonFor(m => m.Gender, "Annat")&nbsp;@Html.Label("Annat")<br />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change details" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}