@using NETDatingApp.Models
@model MyProfileViewModel


@{
    ViewBag.Title = "MyProfile";
}

<div class="container">
    <div class="fb-profile">
        <!-- header -->
        <img align="left" class="fb-image-lg" src="~/Content/img/profileHeader.jpg" alt="Profile image example" />

        <!-- Thumbnail -->
        <img align="left" class="fb-image-profile thumbnail" src="@Model.Profile.ProfileImg" alt="Profile image example" />
        <div class="fb-profile-text">
            <h1 class="profile-name">@Model.Profile.FirstName @Model.Profile.LastName</h1>

            <div class="bio">
                <ul>
                    <li><span class="bold">Bio:</span>@Model.Profile.Bio</li>
                    <li><span class="bold"> Kön: </span> @Model.Profile.Gender</li>
                    <li><span class="bold"> Ålder: </span> @Model.Profile.Age</li>

                </ul>
            </div>

        </div>
        <div class="friend-list">
            @Html.ActionLink("Vänlista", "FriendsList", "Profile", new { @class = "btn btn-primary" })
        </div>

        <hr />
        <div class="profile-container">
            <row>
                @Html.ActionLink("Redigera profilinfo", "ChangeProfileInfo", "Profile", new { @class = "add-friend" })
                @Html.ActionLink("Byt bild", "ChangeProfileImg", "Profile", new { @class = "add-friend" })
            </row>

            @*@ <div class="form-group">
                    @{
                        Html.RenderAction("SendPost", "Post",new { RecieverID = Model.Profile.ProfileID.ToString(), SenderID = Model.Profile.ProfileID.ToString() });
                    }
                </div> *@

            <hr />
            <h3 class="posts-headline"> Senaste inläggen </h3>

            <!-- user posts end up here -->
            <div id="show_stored_content">
                <div class="profile-posts">
                    <table class="table">
                        <tr>
                            <th>Inlägg: </th>
                            <th>Skrivet av: </th>
                        </tr>
                        <tbody id="posts-output"></tbody>
                    </table>

                </div>
        </div>
    </div> <!-- /profile-container -->
</div> <!-- /fb-profile -->

</div> <!-- /container -->
@section scripts {
    <script>
        $(function () {
            function update() {

                // Hämta posts från Controllers/PostApiController.cs/GetAll()
                $.get('/api/posts?id=@Model.Profile.ProfileID', function (Posts) {
                    $('#posts-output').text(''); // Rensa tabellen

                    // Loopa igenom resultatet
                    Posts.forEach(function (Post) {
                        var tr = $('<tr></tr>');
                        tr.append('<td>' + Post.Message + '</td>');
                        tr.append('<td>' + Post.PostSender.FirstName + ' ' + Post.PostSender.LastName + '</td>');
                        $('#posts-output').append(tr);
                    });

                });
            }
            update();
            console.log("i");
        });
    </script>
}
